[submodule "Java"]
	path = Java
	url = https://github.com/yash0patel/java.git
[submodule "spring"]
	path = spring
	url = https://github.com/yash0patel/spring.git
[submodule "python"]
	path = python
	url = https://github.com/yash0patel/python.git
