* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    padding: 10px;
}

.container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.cards {
    background-color: aliceblue;
    border-radius: 10px;
}

#card1,
#card5 {
    grid-column: span 2;
}

#card1 {
    background-color: blueviolet;
}

#card2 {
    background-color: darkslategray;
}

#card3,
#card4 {
    background-color: white;
}

#card5 {
    background-color: #333;
}

#card3 {
    grid-row: span 2;
}

#card1 h5,
#card2 h5,
#card5 h5 {
    color: white;
}

.name p {
    font-size: x-small;
}

.details {
    display: flex;
    width: fit-content;
    gap: 1rem;
    align-items: center;
}

.profile-img {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
}

#card1 #par1, #card2 #par1, #card5 #par1{
    color: white;
}

@media (max-width: 1000px) {
    .container
    {
        grid-template-columns: none;
    }
}

@media (max-width: 400px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}